body
{
background-color:tan;
}
.zoom
{zoom: 225.25%;
}
.box
{
background-color:#000000;
height:450px;
width:240px;
border-radius: 1px;
position:relative;
top:10px;
left:40%;
}
.keys
{
position:relative;
top:30px;
text-align:right;
left:3px;
}
.display input
{
position:relative;
left:7.9px;
bottom:13px;
height:35px;
color:black;
background-color:#FFFFFF;
padding:50px;
font-size:11px;
text-align:right;
} 
.button.green
{
background-color:#7CFC00;
border-bottom:black 1px solid;
border-top:1px FF9933 solid;
color: white;
width:32px;
margin:2.5px;
height:28.5px;
margin-left:2px;
border-style:none;
}
.button.blue
{
color: white;
background-color:#1E90FF;
border-bottom:black 2px solid;
border-top:2px FF9933 solid;
border:2px solid black;
height: 30px;
width:25px;
margin-right: -4.1px;
margin-bottom:-6px;
text-align:center;
border-style:none;
border:1px solid black;
}
.button.grey
{
color: white;
background-color:#696969;
border-bottom:black 2px solid;
border-top:2px FF9933 solid;
font-size:13px;
width:33px;
height:30px;
margin:1.5px;
margin-bottom:-6px;
border-style:none;
border:1px solid black;
margin-bottom:-7px;"
}
.button.greyy
{
color: white;
background-color:#696969;
border-bottom:black 2px solid;
border-top:2px FF9933 solid;
font-size:13px;
width:30.9px;
text-align:center;
margin:2.99px;
height:28.5px;
margin-bottom:-6px;
margin-left: 2px;
border-style:none;
}
.button.greyyy
{
color: white;
background-color:#696969;
border-bottom:black 2px solid;
border-top:2px FF9933 solid;
font-size:13px;
width:31.5px;
text-align:center;
margin:2.99px;
height:28.5px;
margin-top:3.5px;
margin-bottom:-6px;
margin-left:-1px;
border-style:none;
}
.button.greyo
{
color: white;
background-color:#696969;
border-bottom:black 2px solid;
border-top:2px FF9933 solid;
width:23.19px;
height: 30px;
margin-right: -2px;
margin-bottom:-6px;
border-style:none;border:1px solid black;
}
.button.greytwo
{
color: white;
background-color:#778899;
border-bottom:black 2px solid;
border-top:2px FF9933 solid;
width:24px;
height: 30px;
margin-right: -3px;
border-style:none;
border:1px solid black;
margin-bottom:-6px;
}
.button.greythree
{
color: white;
background-color:#778899;
border-bottom:black 2px solid;
border-top:2px FF9933 solid;
width:24px;
height: 30px;
margin-right: -3px;
border-style:none;
border:1px solid black;
margin-bottom:-20px;
}
.button.greytwoi
{
color: white;
background-color:#778899;
border-bottom:black 2px solid;
border-top:2px FF9933 solid;
width:23px;
height: 30px;
margin-right:1px;
border-style:none;
border:1px solid black;
margin-bottom:-6px;
}
.button.greytwoo
{ 
color: white;
background-color:#778899;
border-bottom:black 2px solid;
border-top:2px FF9933 solid;
width:23.7px;
height:30px;
 margin-right: -3px;
margin-bottom:-100px;
border-style:none;border:1px solid black;
}
.button.greytwoa
{ 
color: white;
background-color:#778899;
border-bottom:black 2px solid;
border-top:2px FF9933 solid;
width:22.7px;
height:30px;
margin-right: -2px;
margin-left: 0.5px;
margin-bottom:-100px;
border-style:none;
border:1px solid black;
}
.display
{
width:10px;
position:relative;
left:2.1px;
top:20px;
height:70px;
}